# sublime files
*.sublime-workspace
*.sublime-project

# Python files
*.pyc
*.pyo
*.egg-info
.venv/*

# Test files
.cache/*
*/.cache/*
.coverage
.pytest_caches/*

# build files
build/*
dist/*

# PyCharm
.idea/*

# Jupyter
.ipynb_checkpoints/*
